 

body {
    background-color: rgb(70, 142, 236);
    font: normal 16px Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);

}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}